<div class="nav">
  <p>
    <% if params[:action] != "share"%>
      <span id = "notepad-url"><%= @notepad.url %></span>
      <span><a href="#" data-toggle="popover" data-placement="bottom" data-content="<%= share_url(@notepad)%>">share</a></span>
    <% else %>
      <span id = "notepad-url">shared doc</span>
    <% end %>
  </p>
</div>

<script>
  $(document).ready(function(){
      $('[data-toggle="popover"]').popover();
  });
</script>
