<div class="nav">
  <p>
    <% if params[:action] != "share"%>
      <span id = "notepad-url"><%= @notepad.url %></span>
      <span><%= link_to "Share", share_url(@notepad), target: "_blank"%></span>
    <% else %>
      <span id = "notepad-url">shared doc</span>
    <% end %>
  </p>
</div>

<script>
  $(document).ready(function(){
      $('[data-toggle="popover"]').popover();
  });
</script>
