<div class="nav">
  <p>
    <%= @notepad.url %>
  </p>
</div>

<%= form_for @notepad, url: notepad_path(@notepad) do |f| %>
  <%= f.text_area :body, id: "text-area" %>
  <br>
  <%= f.submit %>
<% end  %>
